.media_uploadsmasterheader{
  height: 68px;
  background-color: #F8F8F8;
  padding: 10px 20px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px 5px 0px 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


  .media_service_head .formdiv .selectbox .ant-select-selection--single {
    padding:0px !important;
    height:35px !important;
    display:flex;
    align-items: center;
  }
    .doctorplus-container {
      display: flex;
  }
  .titleuser_media_diet{
    color: #82AE3F;
    font-size:18px;
    font-weight: 600;
  }

  .media_service_head{
    height: 68px;
    background-color: #F8F8F8;
	  padding: 10px 20px;
	  box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px 5px 0px 0px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
  
  
  .clinic_details:focus{
    background-color:#0B51C5!important;
    }
  .clinic_details
  {
    color:white !important;
    font-size: 1.5rem !important;
    border:none;
    padding:8px; 
  }
  
  
  .clinic_date_details
  {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .currentdate_shopping{
    display:contents;
    font-size:1.25rem;
    font-weight: 600;
  }
  .doctor_type_head{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 5px;
  }
  .right_arrowicon{
    font-size: 2.5rem !important;
    cursor: pointer;
    position: relative;
    top: 0px;
  }
  .group_buttons_div{
    display:flex;
    align-items: center;

  }
  .plus-icon-media{
    cursor: pointer
  }
  /* .clinic_group_details{
    margin-right: 15px;
  } */

  .dashboard_master .MuiButtonGroup-root {
    /* box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20) !important; */
    box-shadow: 0px 2px 5px #00000033;
    border-radius: 2px 0px 0px 2px !important;
    height: 40px !important;
  }
  .clinic_group_details .MuiButton-root {
    text-transform:none !important;
    border-radius: 0px !important;
    font-size: 13px !important;
    padding:5px 15px !important;
    border: none !important;
    box-shadow: 0px 2px 5px #00000033 !important;
    width: 120px;
    height: 37px;
   
  } 
  .trainer_dashboard_master .MuiButtonGroup-root{
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20) !important;
  }
  .clinic_details
  {
    color:white !important;
    font-size: 14px !important;
    background-color:#468DF0 !important;
    border:none;
    padding:8px;
    width:120px !important;  
    height:42px !important;
    /* font-family: "Roboto" !important; */
    
  }
  .search_box_container .ant-input{
    border: 1px solid #D8D8D8 !important;
    color:#333333 !important;
    /* font-family: "Roboto" !important; */
    font-size: 16px !important;
    font-weight: 100 !important;
    height: 37px !important;
  }
  .search_box_container{
    margin-left: 15px !important;
  }
  @media screen and (max-width: 1000px) {
   .doctorpatient_head {
    font-size: 10px;
  }
  .patientselect_div{
    width:110px !important;
  }
  .shopping_dashboard_master .title_totalorders{
    font-size: 15px !important;
  }
  
 .shopping_dashboard_master .currentdate{
  font-size: 10px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}
 .shopping_dashboard_master .clinic_details{
 width:80px !important;
 height:40px !important;
 font-size: 10px !important;
}
.shopping_dashboard_master .clinic_details .MuiButtonGroup-root {
  height:34px !important;
}
.shopping_dashboard_master .MuiButton-root{
  padding:5px 8px !important;
  font-size: 10px !important;	
}
.shopping_dashboard_master .search_box_container{
  width:100px !important;
}
.media_service_head .formdiv .selectbox .ant-select-selection--single{
  font-size: 12px !important;
}
.shopping_dashboard_master .search_box_container .ant-input{
   height:34px !important;
   font-size: 12px !important;

}
  }

  .media_newmedia .MuiDialog-paperWidthMd{
    width: 50% !important;
  }