
.cell_eye{
    padding-left: 0px !important;
  }

  /* .productupload_add_modal.Dialogmodal .MuiDialogTitle-root{
display: none;
  }

  .productupload_add_modal .MuiDialogContent-root {
    padding: 4px;
  }
  .productupload_edit_modal .MuiDialogContent-root {
    padding: 4px;
  }
  .productupload_edit_modal.Dialogmodal .MuiDialogTitle-root{
    display: none;
      } */