.dialog_main_main{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 4px 7px #6666660D; */
    /* margin-top: 20px; */
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 1.5%;
}
.pane_split{
    border-left: 1px solid lightgrey;
}
.product_top_button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.product_title-shop{
    color: #82AE3F;
    font-size: 18px;
    font-weight: 600;
}
.product_upload_cancel_div{
background-color: #C9C9C9;
border-radius: 3px;
margin-right: 15px;
}
.colorpalatte_wrap{
    display: flex;
    flex-direction: column;
}
.validation__error_custom{
    font-size: 10px;
    color:red;
    margin-left: 12px;
}
.validation__error_desc{
    font-size: 10px;
    color:red;
    margin-top: 12px;
}
.validation__error_color{
    font-size: 10px;
    color:red;
    margin-left: 12px;
    margin-top: 16px;
}
 .product_upload_cancel .MuiButton-label{
   text-transform: none !important;
   font-size: 12px !important;
 } 
 .button_browse .MuiButton-label{
    text-transform: none !important;
    font-size: 12px !important;
 }
 .add_button .MuiButton-label{
    text-transform: none !important;
    font-size: 12px !important;
 }
 .add_button{
    background-color: #2680EB!important;
    color: white !important;
    border-radius: 1px !important;
    height: 32px !important;
 }
.product_upload_submit_div{
    background: #2680EB;
    border-radius: 3px;
}
.product_upload_submit .MuiButton-label{
    color: white;
   text-transform: none !important;
   font-size: 12px !important;
}

.product_sub_section{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    
}
.upload_label{
    font-size: 14px;
    color: #666666 !important;
    padding-bottom: 5px !important;
}
.browse_files .ant-upload {
    height: 32px !important;
}
.browse_files .MuiButton-root{
    height: 32px !important;
}
 .product_section_2{
width: 20% ;
margin-left: 15px;
}  
.product_section_2 .formdiv .brdrcls{
    width: 90%;
}
.product_section_2 .labeltxt{
    margin-bottom: 5px !important;
    padding-bottom: 6px !important;
    color: #666666 !important;
    font-weight: 600;
    font-size: 14px !important;
}
.product_section_2 .formdiv{
    /* left: 20%; */
    height: 27px;
    font-size: 14px;
}

.html__input--procodnam{
    width: 95%;
    height: 32px !important;
    border: 1px #E0E0E0 solid !important;
    font-size: 14px;
    border-radius: 2px;
}
.product_section_3{
    width: 20%;
    white-space: nowrap;
    margin-left: 10px;
}
.product_section_3 .labeltxt{
    margin-bottom: 0px !important;
    padding-bottom: 6px !important;
    color: #666666 !important;
}
.product_section_3  .selectbox .ant-select-selection--single{
    
    padding: 0px !important;
}
.product_section_3 .formdiv {
    left: 30%;
    
}
.product_section_3 .ant-select-selection{
    border-radius: 2px;
    border: 1px solid #ccc;
}
    
.product_section_4{
    width: 20% ;
    margin-left: 15px;
}
.product_section_4 .labeltxt{
    margin-bottom: 5px !important;
    font-size: 14px !important;
    color: #666666 !important;
}
/* .product_section_4 .formdiv{
    left: 40%;
    
} */
.product_section_4  .brdrcls{
    height: 32px !important;
    
    width: 55px !important;
}
.product_section_5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_section_5 .MuiButton-root{
    background-color: #2680EB!important;
    color: white;
    border-radius: 1px;
    height: 32px;
    /* margin-bottom: 3px !important; */
}

.product_colorpalatte_label {
    font-size: 14px !important;
    color: #666666 !important;
    font-weight: 600;
    padding-bottom: 7px !important;
    margin-top: 10px;
}        
.span_header_shop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    
}
.product_main_grid{
    padding: 15px;
    border-right: 1px solid lightgray;
}
.upload__container_advertise.shoppe{
    width: 60%;
}

.checkbox__manproduct{
    margin-top: -5px;
}

.checkbox__manproduct .labtxt{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #666666 !important;
}
.cardproduct_display{
    /* margin: 10px;
    background-color: #82AF3F !important; */
    border-radius: 1px !important;
}
.removeIcon{
    position: relative;
    left: 92%;
    fill: red;
    opacity: 0;
    font-size: 21px;
    bottom: -1.1rem;
    /* position: absolute;
    left: 74rem;
    fill: red;
    font-size: 21px;
    bottom: 11.3rem;
    cursor: pointer; */
}

.checkbox__manproduct .MuiCheckbox-root {
    color: #CCCCCC;
}

.productupload_img{
    display: flex;
    padding: 20px;
    width: 100%;
}
.product_section_grid .labeltxt{
    color: #666666 !important;
}
 .product_section_div{
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     width: 100%;
 }
 /* .product_section_div .ant-select-selection--single{
     width: 100px !important;
 } */
.product_sec_subdiv {
    margin-top: 10px; 
    
}
.product_image_upload{
    font-size: 15px;
    font-weight: 600;
    color: #666666;
}
.prod_descrip{
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    color: #666666;
}
 .product_sec_subdiv .brdrcls{
    height: 32px !important;
    font-size: 14px;
 }
 .product_sec_price{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-top: 10px; */
 }
 .product_sec_price .brdrcls{
    height: 32px !important;
    width: 100px !important;
    font-size: 14px;
 }
 .product_main_section{
     padding: 15px;
 }

 @media only screen and (max-width: 768px) {
    /* .product_section_grid{
        width: 80% !important;
    } */
    /* .productupload_dialog .MuiDialog-paperFullWidth{
        width: 80% !important;
    } */
    .product_section_div .ant-select-selection--single{
        width: 300px !important;
    }
    .product_sec_price .brdrcls{
width: 300px !important;
    }
 } 
 .add_subsec_div{
     display: flex;
 }
 
 
 @media only screen and (min-width:770px)and (max-width: 950px) {
    .product_section_div .ant-select-selection--single{
        width: 300px !important;
    }
    .product_sec_price .brdrcls{
        width: 300px !important;
            }
         
 }
 .product_addlist{
    border: 1px solid grey !important;
    display: flex;
 }
 .product_addlist_div{
    display: flex ;
    margin-right: 15px;
    margin-top: 20px;
  
 }
 .product_addlist_lab{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
 }
 .conditional_grid{
     /* width: 100%;
     display: flex; */
     height: 250px;
     overflow: scroll;
 }
 
 .productupload_dialog{
     width: 70% !important;
 }
 

 .product_main_grid .formdiv .ant-select-selection--single{
     padding: 0px !important;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
