.enter_tracking{
    color:#333 !important;
    font-size: 1.75rem;
    font-weight: 600;
    padding-left:15px
}
.delivery_packing{
    display:flex;
    margin: 0px 0px 20px 15px;
}
.pharpaper_container
{
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1) !important;
    padding:15px;
    width:33%;
    height:165px !important;
}
.outfor_deliverybutt{
    background-image: linear-gradient(to top, rgb(105, 216, 142),rgb(127, 246, 167));
    color:#fff !important;
    font-size: 1.5rem !important;
    text-transform: none !important;
}
.delivery_date{
  display: flex;
  justify-content: center;
   align-items: center; 
}
.deli_timediv{
    width:43%;
    margin-top: 15px;
}
/* .deli_time_svg .MuiSvgIcon-root{
    display: none;

} */

.MuiPickersToolbar-toolbar,
.MuiPickersClock-pin,
.MuiPickersClockPointer-pointer,
.MuiPickersClockPointer-noPoint{
    background-color: #63D088 !important ;
}
.MuiPickersClockPointer-thumb
{
    border: 14px solid #63D088 !important;
}
.MuiButton-textPrimary{
    color: #63D088 !important ;
}
.deli_time_svg{
    position: relative;
}
.deli_time_svg .clocksvg{
    position: absolute;
    top: 42px;
    right: 20px;
    background-image: url("../../images/time (1).png");
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}
.outfor_butt{
    display:flex;
    align-items: center;
    justify-content: center;
}
.deli_timediv:first-child{
    margin-right: 10px;
}
.deli_timediv .formdiv .labeltxt{
padding: 0px !important;
}
.modalbutt_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-top:10px;
}
.cancel_buttphar{
    font-size: 1.25rem !important;
    background-color: #c9c9c9 !important;
    margin-right: 20px !important;
    text-transform: none !important;
}

/* .delivery_view .formdiv .brdrcls{
    box-shadow: 0 0 2px 0px #ccc !important;
    border:0.4px solid #ccc !important;
} */