.catgry_box{
    width: 25%;
}
.variable_flex{
    display: flex;
    align-items: baseline;
    font-size: 14px;
}
.actve{
    padding-right: 10px;
    padding-left: 10px;
}
.plus_btn{
    padding-left: 20px;
    width: 45px;
    position: relative;
    bottom: -7px;
}

.catgry_box .formdiv{
    padding-top: 12px !important;
}
.variable_flex .formdiv .brdrcls{
    height: 38px !important;
}
.notification_paper{
    height: calc(100vh - 250px);
    padding: 30px;
}
.notification_flex{
    justify-content: space-between;
}
.notification_flex .catgry_box{
    width: 30% !important;
}
.template_box{
    padding: 12px;
}
.template_btns{
    
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}
.template_btns Button{
    background-color: #86b149;
    color: white;
    height: 25px;

}
.template_btns Button:hover{
    background-color: #86b149;
    color: white;
    height: 25px;

}
.template_btns Button:focus{
    background-color: #86b149;
    color: white;
    height: 25px;

}
.notification_checks{
padding-top: 12px;
    display: flex;
    justify-content: space-around;
}
.shop_mediabutton-container{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.shop-submit-Upload{
    font-family: 'Roboto' !important;
    font-size: 12px !important;
    border-radius: 0px !important;
    color: white !important;
    background-color: rgb(38, 128, 235) !important;
    padding: 6px 16px !important;
  
    margin-left: 15px !important;
    text-transform: none !important;
    background-color: rgb(38, 128, 235) !important;

}
.sub_head{
    font-size: 14px;
    color: #666666;
}